body{
font-family: 'Open Sans', sans-serif;
font-weight: 400;
 
}
a{
	color: #222;
}

h2,h3,h4{
	font-weight: 700;
}

h1{
	font-weight: 900;
}
a{
	color: #222;
}
/* NAVBAR*/
.navbar{
	text-transform: uppercase;
}

.navbar-brand {
	font-weight: 700;
}

/*HERO*/
.hero-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
